<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" media="all" href="/assets/stylesheets/homes.css" >
  </head>


<html>
  <body>
    <h1 class="home">ようこそ
      <strong>Bookers</strong>
      へ！
    </h1>
  <p class="home">
    <strong>Bookers</strong>
    では、さまざまな書籍に関するあなたの意見や
    </p>
    <p class="home">印象を共有し交換することができます</p>
  <p class="home">
    <a href="/books">start</a>
  </p>
  </body>
</html>